body {
    color: #113;

}
button{
background-color : rgb(255,255,255); !important;
color: rgb(0 123 255); !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgb(0 123 255 / 5%); !important;
}
