#pagerRow{
    height: 40px;
    margin-bottom: 10px;
}
.pagePlusBtn{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    height:40px;
}
#pagerRow .plus10{
    width:300px;
}
.plus15, .plus25, .plusAll{
    width:50px;
    transition: 1s;
    opacity:0;
}

#pagerRow:hover  .plus15{
    opacity: 1;
    transform: translateX(165px);
}
#pagerRow:hover  .plus25{
    opacity: 1;
    transform: translateX(230px);
}

#pagerRow:hover  .plusAll{
    opacity: 1;
    transform: translateX(295px);
}