{{>parts/Head}}

{{#cosmeticProduct}}
    <div class="row">
        <div class="col">
            <h3>Редактирование средства</h3>
            <div class="form-group">
                <form method="post" action="/app/{{id}}">
                    <input class="form-control {{#nameError}}is-invalid{{/nameError}}{{^nameError}} {{/nameError}} my-2 "
                           list="inputName" type="text" name="name" value="{{name}}"
                           placeholder="Выберите категорию"/>
                    <datalist id="inputName">
                        {{#listOfProducts}}
                            <option>{{.}}</option>
                        {{/listOfProducts}}
                    </datalist>
                    {{#nameError}}
                        <div class="invalid-feedback">
                            {{nameError}}
                        </div>
                    {{/nameError}}
                    <input class="form-control {{#brandError}}is-invalid{{/brandError}}{{^brandError}} {{/brandError}} my-2"
                           list="inputBrand" type="text" name="brand" value="{{brand}}"
                           placeholder="Выберите бренд"/>
                    <datalist id="inputBrand">
                        {{#listOfBrands}}
                            <option>{{.}}</option>
                        {{/listOfBrands}}
                    </datalist>
                    {{#brandError}}
                        <div class="invalid-feedback">
                            {{brandError}}
                        </div>
                    {{/brandError}}
                    <input class="form-control my-2" type="text" name="volume" value="{{volume}}"
                           placeholder="Введите объем"/>
                    <input class="form-control {{#time_after_openingError}}is-invalid{{/time_after_openingError}}{{^time_after_openingError}} {{/time_after_openingError}} my-2"
                           type="number" name="time_after_opening"
                           value="{{time_after_opening}}" placeholder="Введите срок после вскрытия"/>
                    {{#time_after_openingError}}
                        <div class="invalid-feedback">
                            <p>Укажите срок после вскрытия, если его нет поставьте 0 </p>
                        </div>
                    {{/time_after_openingError}}
                    <input class="form-control {{#shelfLifeError}}is-invalid{{/shelfLifeError}}{{^shelfLifeError}} {{/shelfLifeError}} my-2"
                           type="date" name="shelfLife"
                           {{#editCosmeticProduct.getShelfLife}}value="{{shelfLife}}"{{/editCosmeticProduct.getShelfLife}}
                           {{^editCosmeticProduct.getShelfLife}}value="{{cosmeticProduct.getShelfLife}}"{{/editCosmeticProduct.getShelfLife}}
                           placeholder="Введите срок годности"/>
                    {{#shelfLifeError}}
                        <div class="invalid-feedback">
                            {{shelfLifeError}}
                        </div>
                    {{/shelfLifeError}}
                    <input class="form-control my-2" type="date" name="autopsyDate"
                           {{#autopsyDate}}value="{{autopsyDate}}"{{/autopsyDate}}
                           placeholder="Введите дату вскрытия"/>


                    <input class="form-control {{#noteError}}is-invalid{{/noteError}}{{^noteError}} {{/noteError}} mb-2"
                           name="note" placeholder="Примечание"
                           {{#cosmeticProduct.getNote}}value="{{cosmeticProduct.getNote}}"{{/cosmeticProduct.getNote}}
                        {{^cosmeticProduct.getNote}}{{/cosmeticProduct.getNote}}/>
                    {{#noteError}}
                        <div class="invalid-feedback">
                            {{noteError}}
                        </div>
                    {{/noteError}}
                    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                    <a class="btn btn-light ml-2" href="/app">Назад</a>

                </form>
            </div>
        </div>
    </div>



{{/cosmeticProduct}}
{{>parts/Foot}}