{{>parts/head}}

{{#cosmeticProduct}}
    <div class="row">
        <div class="col">
            <h3>Редактирование средства</h3>
            <div class="form-group">
                <form method="post" action="/app/{{id}}">
                    <input class="form-control my-2" list="inputName" type="text" name="name" value="{{name}}"
                           placeholder="Выберите категорию"/>
                    <datalist id="inputName">
                        {{#listOfProducts}}
                            <option>{{.}}</option>
                        {{/listOfProducts}}
                    </datalist>
                    <input class="form-control my-2" list="inputBrand" type="text" name="brand" value="{{brand}}"
                           placeholder="Выберите бренд"/>
                    <datalist id="inputBrand">
                        {{#listOfBrands}}
                            <option>{{.}}</option>
                        {{/listOfBrands}}
                    </datalist>
                    <input class="form-control my-2" type="text" name="volume" value="{{volume}}"
                           placeholder="Введите объем"/>
                    <input class="form-control my-2" type="number" name="time_after_opening"
                           value="{{time_after_opening}}" placeholder="Введите срок после вскрытия"/>
                    <input class="form-control my-2" type="date" name="shelf_life" value="{{shelf_life}}"
                           placeholder="Введите срок годности"/>
                    <input class="form-control my-2" type="date" name="autopsy_date"
                           {{#autopsy_date}}value="{{autopsy_date}}"{{/autopsy_date}}
                           placeholder="Введите дату вскрытия"/>
                    <textarea class="form-control  my-2" name="note" placeholder="Примечание"></textarea>

                        <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                        <button type="submit" class="btn btn-primary">Сохранить</button>
                        <a class="btn btn-light ml-2" href="/app">Назад</a>

                </form>
            </div>
        </div>
    </div>



{{/cosmeticProduct}}
{{>parts/foot}}