{{>parts/Head}}

{{#messageSuccess}}
    <div class="alert alert-success fade show" role="alert" id="success-alert">
        <strong> {{messageSuccess}}</strong>
    </div>
{{/messageSuccess}}

<hr>




<button class="btn btn-primary" data-toggle="collapse" href="#dropGroup1" role="button" aria-expanded="false"
        aria-haspopup="true">
    Добавить новый продукт<i class="ml-2 fas fa-caret-down"></i>
</button>
<div class="collapse {{#cosmeticProduct}}show{{/cosmeticProduct}}{{^cosmeticProduct}} {{/cosmeticProduct}}"
     id="dropGroup1">
    <div class="form-group mt-2">
        <form method="post" action="/app">
            <div class="form-group">
                <input list="text_name" name="name"
                       class="form-control {{#nameError}}is-invalid{{/nameError}}{{^nameError}} {{/nameError}} "
                       placeholder="Выберите категорию"
                    {{#cosmeticProduct.getName}}value="{{cosmeticProduct.getName}}" {{/cosmeticProduct.getName}}{{^cosmeticProduct.getName}} {{/cosmeticProduct.getName}}
                >
                <datalist id="text_name">
                    {{#listOfProducts}}
                        <option value="{{.}}">{{.}}</option>
                    {{/listOfProducts}}
                </datalist>
                {{#nameError}}
                    <div class="invalid-feedback">
                        {{nameError}}
                    </div>
                {{/nameError}}

            </div>
            <div class="form-group">
                <input list="text_brand" name="brand"
                       class="form-control {{#brandError}}is-invalid{{/brandError}}{{^brandError}} {{/brandError}}"
                       placeholder="Выберите бренд"
                    {{#cosmeticProduct.getBrand}}value="{{cosmeticProduct.getBrand}}" {{/cosmeticProduct.getBrand}}{{^cosmeticProduct.getBrand}} {{/cosmeticProduct.getBrand}}
                >
                <datalist id="text_brand">
                    {{#listOfBrands}}
                        <option value="{{.}}">{{.}}</option>
                    {{/listOfBrands}}
                </datalist>
                {{#brandError}}
                    <div class="invalid-feedback">
                        {{brandError}}
                    </div>
                {{/brandError}}
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="volume" placeholder="Введите объем"
                       {{#cosmeticProduct.getVolume}}value="{{cosmeticProduct.getVolume}}"{{/cosmeticProduct.getVolume}}
                    {{^cosmeticProduct.getVolume}} {{/cosmeticProduct.getVolume}}
                >
            </div>
            <div class="form-group">
                <input class="form-control {{#time_after_openingError}}is-invalid{{/time_after_openingError}}{{^time_after_openingError}} {{/time_after_openingError}}"
                       type="number" name="time_after_opening"
                       placeholder="Введите срок после вскрытия" min="0"
                    {{#cosmeticProduct.getTime_after_opening}}value="{{cosmeticProduct.getTime_after_opening}}" {{/cosmeticProduct.getTime_after_opening}}
                    {{^cosmeticProduct.getTime_after_opening}} {{/cosmeticProduct.getTime_after_opening}}
                >
                {{#time_after_openingError}}
                    <div class="invalid-feedback">
                        <p>Укажите срок после вскрытия, если его нет поставьте 0 </p>
                    </div>
                {{/time_after_openingError}}
            </div>
            <div class="form-group">
                <input class="form-control calendar-list {{#shelfLifeError}}is-invalid{{/shelfLifeError}}{{^shelfLifeError}} {{/shelfLifeError}}"
                       type="date" name="shelfLife"
                       placeholder="Введите срок годности"
                    {{#cosmeticProduct.getShelfLife}}value="{{cosmeticProduct.getShelfLife}}" {{/cosmeticProduct.getShelfLife}}
                    {{^cosmeticProduct.getShelfLife}} {{/cosmeticProduct.getShelfLife}}
                >
                {{#shelfLifeError}}
                    <div class="invalid-feedback">
                       {{shelfLifeError}}
                    </div>
                {{/shelfLifeError}}
            </div>
            <a class="btn btn-primary mb-2" data-toggle="collapse" href="#dropOpened" type="button" role="button"
               aria-expanded="false"
               aria-haspopup="true"
            >
                Средство вскрыто
                <i class="ml-2 fas fa-caret-down"></i>
            </a>
            <div class="collapse form-group" id="dropOpened">
                <input class="form-control mt-2" type="date" name="autopsyDate" placeholder="Введите дату вскрытия">
            </div>
            <div class="form-group">
                <input class="form-control {{#noteError}}is-invalid{{/noteError}}{{^noteError}} {{/noteError}}"
                       name="note"
                       placeholder="Примечание"
                       {{#cosmeticProduct.getNote}}value="{{cosmeticProduct.getNote}}"{{/cosmeticProduct.getNote}}
                    {{^cosmeticProduct.getNote}}{{/cosmeticProduct.getNote}}
                >
                {{#noteError}}
                    <div class="invalid-feedback">
                        {{noteError}}
                    </div>
                {{/noteError}}
            </div>

            <input type="hidden" name="_csrf" value="{{_csrf.token}}">
            <button class="btn btn-primary" type="submit">Добавить</button>
        </form>
    </div>
</div>
<hr>


<div>
    <h3>Поиск</h3>
    <div class="btn-group">
        <!-- кнопка для вызова строки поиска по категории-->
        <button class="btn btn-primary"  data-toggle="collapse" href="#chkFilterName" aria-expanded="false"
                aria-haspopup="true" role="button">
            Поиск по категории
        </button>

        <!-- кнопка для вызова строки поиска по бренду-->
        <button class="btn btn-primary" data-toggle="collapse" href="#chkFilterBrand" aria-expanded="false"
                aria-haspopup="true" role="button">
            Поиск по бренду
        </button>
    </div>
    <form method="get" action="/app">
        <div class=" form-group mt-2">

                <div class="collapse my-2" id="chkFilterName">
                    <input list="fieldFilterName" name="filter_name" class="form-control"
                           placeholder="Выберите категорию"
                        {{#filter_name}} value="{{filter_name}}" {{/filter_name}}/>
                    <datalist id="fieldFilterName">
                        {{#listOfProducts}}
                            <option>{{.}}</option>
                        {{/listOfProducts}}
                    </datalist>
                </div>

                <div class="collapse my-2" id="chkFilterBrand">
                    <input list="fieldFilterBrand" name="filter_brand" class="form-control"
                           placeholder="Выберите бренд"
                        {{#filter_brand}} value="{{filter_brand}}" {{/filter_brand}}/>
                    <datalist id="fieldFilterBrand">
                        {{#listOfBrands}}
                            <option>{{.}}</option>
                        {{/listOfBrands}}
                    </datalist>
                </div>
            <div class="col">
                <div class="row my-3">
                    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Поиск</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <h3>В моей косметичке {{allCosmetic.getTotalElements}} средств </h3>
    <h6>(Испортятся в течение месяца {{badSoon}})</h6>
</div>

    {{#allCosmetic}}
        <div class="card">
            <div class="card-header" id="{{id}}">
                <div class="row">
                    <div class="col col-md-2" id="nameAndBrand">{{name}} {{brand}}</div>
                    <div class="col">Объем</div>
                    <div class="col">Срок после вскрытия</div>
                    <div class="col">Срок годности</div>
                    <div class="col">Дата вскрытия</div>
                    <div class="col">Примечание</div>
                    <div class="col">Пора выбрасывать</div>
                    <div class="col">Действие</div>
                </div>
                <script src="/static/scripts/mainJs.js" type="text/javascript"></script>
                <script>
                    colorRow({{id}}, '{{dateDeath}}')
                </script>

            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col col-md-2"></div>
                    <div class="col">{{volume}}</div>
                    <div class="col">{{time_after_opening}}</div>
                    <div class="col">{{shelfLife}}</div>
                    <div class="col">
                        {{#autopsyDate}}{{autopsyDate}}{{/autopsyDate}}{{^autopsyDate}}Не вскрыто{{/autopsyDate}}
                    </div>
                    <div class="col">{{note}}</div>
                    <div class="col">{{dateDeath}}</div>
                    <div class="col">
                        <div class="btn-group" id="{{id}}">
                            <!--кнопка копирования средства -->
                            <form action="/app/copy/{{id}}" method="post">
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                <button class="btn far fa-clone" id="copyBtn"></button>
                            </form>
                            <!--кнопка перехода в окно обновления средства -->
                            <form action="/app/edit/{{id}}" method="get">
                                <button class="btn  fas fa-pencil-alt" id="editBtn" type="submit"></button>
                            </form>
                            <!--кнопка удаления средства -->
                            <form action="/app/delete/{{id}}" method="post">
                                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                                <button class="btn  fas fa-trash" id="delBtn" type="submit"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/allCosmetic}}


{{>parts/Pager}}

{{>parts/Foot}}
