{{>parts/Head}}

{{#messageActivation}}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        <i class="fas fa-info-circle"></i> <strong>   {{messageActivation}}</strong>
        <button type="button" class="btn fas fa-times" data-dismiss="alert" aria-label="Close"></button>
    </div>
{{/messageActivation}}


<h3>Добро пожаловать на домашнюю страницу</h3>
<h1>Привет, {{user.getUsername}}</h1>

<div style="display: flex;">
        <div class="card border-primary" style="width : 18rem; margin: 10px;">
            <img src="/image/card_home_cosmetic.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="card-title">Моя косметика</h3>
                <p class="card-text">Добавление и удаление косметических средств, контроль за ними</p>
            </div>
            <a class="btn btn-primary btn-block stretched-link" href="/app">Перейти</a>
        </div>

        {{#user.isAdmin}}
        <div class="card border-primary " style="width : 18rem; margin: 10px;">
            <img src="/image/card_home_admin.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-body text-center">
                <h3 class="card-title">Управление пользователями</h3>
                <p class="card-text">Вкладка для администратора, для управления пользователями</p>
            </div>
            <a class="btn btn-primary btn-block stretched-link" href="/user">Перейти</a>

        </div>
        {{/user.isAdmin}}
</div>
{{>parts/Foot}}