{{>parts/LogRegTemplate}}


<h3 class="header text-center mb-5">Регистрация</h3>
<div class="card cloudyGlass registrCard">
    <div class="card-body content">
        <form action="/registration" method="post">
            <div class="logInput">
                <label> Имя нового пользователя:</label>
                <input class="form-control {{#usernameError}}is-invalid{{/usernameError}}{{^usernameError}} {{/usernameError}}"
                       type="text" name="username"
                       {{#newUser.getUsername}}value="{{newUser.getUsername}}"{{/newUser.getUsername}}
                    {{^newUser.getUsername}}{{/newUser.getUsername}}/>
                {{#usernameError}}
                    <div class="invalid-feedback">
                        {{usernameError}}
                    </div>
                {{/usernameError}}

                <label> Почта:</label>
                <input class="form-control {{#emailError}}is-invalid{{/emailError}}{{^emailError}} {{/emailError}}"
                       type="email" name="email"
                       {{#newUser.getEmail}}value="{{newUser.getEmail}}"{{/newUser.getEmail}}
                    {{^newUser.getEmail}}{{/newUser.getEmail}}/>
                {{#emailError}}
                    <div class="invalid-feedback">
                        {{emailError}}
                    </div>
                {{/emailError}}

                <label> Пароль:</label>
                <input class="form-control {{#passwordError}}is-invalid{{/passwordError}}{{^passwordError}} {{/passwordError}}"
                       type="password" name="password"/>
                {{#passwordError}}
                    <div class="invalid-feedback">
                        {{passwordError}}
                    </div>
                {{/passwordError}}

                <label> Повторите пароль:</label>
                <input class="form-control {{#password2Error}}is-invalid{{/password2Error}}{{^password2Error}} {{/password2Error}}"
                       type="password" name="password2"/>
                {{#password2Error}}
                    <div class="invalid-feedback">
                        {{password2Error}}
                    </div>
                {{/password2Error}}
            </div>
            <div class="logBtn">
                <input type="hidden" name="_csrf" value="{{_csrf.token}}">
                <input class="btn btn-primary btn-block" type="submit" value="Зарегистрироваться"/>
                <a class="btn btn-light btn-block mt-2" href="/login">Выйти</a>
            </div>
        </form>

    </div>
</div>
</body>
</html>