<!DOCTYPE HTML>
<html>
<head>
    <title>Космо</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/myCss/style.css">
    <link rel="stylesheet" href="/static/myCss/pagerStyle.css">
    <link rel="stylesheet" href="/static/faFonts/iconfonts.css">

</head>
<body>
{{>parts/navbar}}
<div class="container mt-5">
