<div id="pagerRow">
    <button class="btn btn-outline-primary btn-block pagePlusBtn plus10"
            onclick="seeMore(10, {{allCosmetic.getSize}}, {{allCosmetic.getTotalElements}})"
            id="showMoreBtn">Показать еще 10 <i class="fas fa-arrow-down"></i>
    </button>
    <button class="btn btn-outline-primary pagePlusBtn plus15"
            onclick="seeMore(15, {{allCosmetic.getSize}}, {{allCosmetic.getTotalElements}})">+15
    </button>
    <button class="btn btn-outline-primary pagePlusBtn plus25"
            onclick="seeMore(25, {{allCosmetic.getSize}}, {{allCosmetic.getTotalElements}})">+25
    </button>
    <button class="btn btn-outline-primary pagePlusBtn plusAll"
            onclick="seeMore(9999, {{allCosmetic.getSize}}, {{allCosmetic.getTotalElements}})">Всё
    </button>
</div>


<script type="text/javascript" src="/static/scripts/pagerScript.js">

</script>


